<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.fit.cordova.plugin.print"
    version="2.0.0">

	<name>BixolonPrint</name>
	<author>Andrés Mantilla @ Fit ideas</author>
	<description>
		Bixolon Thermal Printers plugin.
	</description>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<!-- Javascript -->
	<js-module src="www/bixolonprint.js" name="BixolonPrint">
        <clobbers target="cordova.plugins.bixolonPrint" />
    </js-module>
    
	<!-- android -->
	<platform name="android">

	    <config-file target="AndroidManifest.xml" parent="/manifest">
    		<uses-permission android:name="android.permission.BLUETOOTH" />
    		<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
		</config-file>
		
		<source-file
			src="src/android/com/fit/cordova/plugin/print/BixolonPrint.java"
			target-dir="src/com/fit/cordova/plugin/print" />
		<!-- <source-file src="R.java" target-dir="src/com/google/zxing/client/android" 
			/> -->

		<!-- <config-file target="res/xml/plugins.xml" parent="/plugins"> <plugin 
			name="BarcodeScanner" value="com.phonegap.plugins.barcodescanner.BarcodeScanner"/> 
			</config-file> -->

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="BixolonPrint">
				<param name="android-package"
					value="com.fit.cordova.plugin.print.BixolonPrint" />
			</feature>
		</config-file>
		
		<source-file src="src/android/BixolonPrinter.jar" target-dir="libs"/>

	</platform>

</plugin>
